<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,td,th { border: 1px solid black;}


    </style>
</head>
<body>
 <td> <a href="{%url 'elect_ehab:addCat'  %}">Add Cat</a> </td>

<table>
<tr>
    <th>ID</th>
    <th>Category name</th>
    <th>Category Description</th>
    <th>View</th>
    <th>View2</th>
    <th>Delete</th>
    <th>Update</th>
</tr>

{% for cat in categories %}


    <tr>
       <td>    {{   forloop.counter    }}</td>
       <td>    {{  cat.cat_name   }}</td>

       <td>  {{  cat.cat_desc   }}</td>
        <td> <a href="{{cat.id}}">View Cat</a> </td>
      <td> <a href="{%url 'elect_ehab:getCat' cat.id  %}">View Cat2</a> </td>
        <td> <a href="{{cat.id}}/delete">Delete</a> </td>
         <td> <a href="{{cat.id}}">Update</a> </td>
    </tr>

    {% endfor %}

    </table>

</body>
</html>