<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    {%if one_cat.id%}
    <form action="{%url 'elect_ehab:updateCat' one_cat.id %}" method="post">
    {%else%}
   <form action="{%url 'elect_ehab:addCat'  %}" method="post">
       {%endif%}
    {%csrf_token%}
    <div>name<input type="Text" name="cat_name"  value={{one_cat.cat_name}} ></div>
     <div>desc<input type="Text" name="cat_desc" value={{one_cat.cat_desc}} ></div>
    <div><input type="submit" value="submit"></div>
</form>





</div>



</body>
</html>